@model ContentStackPOC.Models.DemoPage
@{
    ViewBag.Title = Model.title;
    ViewBag.Keywords = Model.tags;
}
<h2>
    @Model.title
</h2>
@Html.Raw(Model.main_body_content)

@Html.Raw(Model.main_body_markdown)